
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@font-face {
  font-family: 'redwing';
  src: url('/public/fonts/Redwing-Light.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}


a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.kit_theme{
  font-size: 92px;
}

.medals_grid{
  display: grid;
  gap:24px;
  grid-template-columns: repeat(4, 1fr);
}

@media  (max-width:768px) {
.medals_grid{

  grid-template-columns: repeat(2, 1fr);
}
}

@media  (max-width:450px) {
  .medals_grid{
  
    grid-template-columns: repeat(1, 1fr);
  }
  }

@media (max-width:900px){
  .kit_theme{
    font-size: 86px;
  } 
}

@media (max-width:768px){
  .kit_theme{
    font-size: 72px;
  } 
}

@media (max-width:550px){
  .kit_theme{
    font-size: 64px;
  } 
}

@media (max-width:490px){
  .kit_theme{
    font-size: 56px;
  } 
}

@media (max-width:430px){
  .kit_theme{
    font-size: 48px;
  } 
}

@media (max-width:380px){
  .kit_theme{
    font-size: 42px;
  } 
}

@media (max-width:350px){
  .kit_theme{
    font-size: 36px;
  } 
}


.gallery-carousel{
  width:900px;
}

@media screen and (max-width:1024px) {
  .gallery-carousel{
    width:700px;
  }
}

@media screen and (max-width:768px) {
  .gallery-carousel{
    width:600px;
  }
}

@media screen and (max-width:624px) {
  .gallery-carousel{
    width:100%;
  }
}


@media screen and (max-width:400px) {
  .desc-title{
    font-size: 42px;
  }
}




